canvas {
  display: block;
  height: 100%;
  width: 100%;

  &#you_are_invited {
    margin: 0 auto;
    // max-width: 35ch;
    width: clamp(24ch, 35%, 35ch);
  }
}

.flowers {
  background: purple;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: calc((var(--space_m-3xl) + var(--space_s-l)) * -1)
    calc(var(--space_s) * -1) 0;

  canvas {
    margin-top: -1px;
  }
}
