canvas {
  display: block;
  // height: 100%;
  // width: 100%;

  &#you_are_invited {
    margin: 0 auto;
    max-width: 30ch;
    width: clamp(24ch, 35%, 35ch);
    aspect-ratio: 483 / 73;
  }

  &#big_pink_flower_l {
    aspect-ratio: 130 / 205;
  }

  &#big_pink_flower_r {
    aspect-ratio: 85 / 131;
  }

  &#leaves {
    aspect-ratio: 29 / 35;
  }

  &#small_pink_flower {
    aspect-ratio: 30 / 40;
  }
}

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // background: purple;
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
  // margin: calc((var(--space_m-3xl) + var(--space_s-l)) * -1)
  //   calc(var(--space_s) * -1) 0;

  &__top,
  &__right {
    display: flex;
  }

  &__top {
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--space_xs);

    & > canvas {
      flex-grow: 0;
      flex-shrink: 1;
    }

    canvas[id^="leaves"] {
      flex-basis: 5%;
    }

    [id^="big_pink_flower"] {
      flex-grow: 1;
      flex-shrink: 0;
    }
    #big_pink_flower_l {
      max-width: 25%;
    }
    #big_pink_flower_r_wrapper {
      position: relative;
      max-width: 14%;
      aspect-ratio: 85 / 131;
    }
    #big_pink_flower_r {
      width: 100%;
    }

    .canvas-wrapper {
      display: flex;
      align-content: flex-start;
      flex-grow: 0;
      flex-shrink: 1;
      justify-content: center;

      &.big_pink_flower_l,
      &.big_pink_flower_r {
        flex-grow: 1;
        flex-shrink: 0;

        // canvas {
        //   width: 100%;
        // }
      }

      &.big_pink_flower_l {
        justify-content: flex-start;
        flex-basis: 10%;
      }

      &.big_pink_flower_r {
        justify-content: flex-end;
        flex-basis: 10%;
      }

      // &.leaves {
      //   flex-basis: 10%;
      // }

      // &.big_pink_flower_l {
      //   flex: 1 0 25%;
      // }
      // &.big_pink_flower_r {
      //   flex: 1 0 5%;
      // }
    }
  }

  &__right {
    position: absolute;
    right: 0;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    canvas {
      transform: rotate(90deg);

      @at-root .flowers & {
        margin: 0 -2px;
      }
    }
  }

  canvas {
    margin: -1px 0;

    // @media screen and (min-width: 600px) {
    //   &#leaves {
    //     display: block;
    //   }
    // }
  }
}
