canvas {
  display: block;
  // height: 100%;
  // width: 100%;

  &#you_are_invited {
    margin: 0 auto;
    max-width: 30ch;
    width: clamp(24ch, 35%, 35ch);
    aspect-ratio: 483 / 73;
    // transform: translateX(8px);
  }

  &#big_pink_flower_l {
    aspect-ratio: 130 / 205;
  }

  &#big_pink_flower_r {
    aspect-ratio: 85 / 131;
  }

  &[id^="yellow_flower_thin"] {
    aspect-ratio: 48 / 86;
  }

  &[id^="yellow_flower_wide"] {
    aspect-ratio: 68 / 87;
  }
  &[id^="yellow_flower_short-wide"] {
    aspect-ratio: 68 / 63;
  }

  &[id^="small_pink_flower"] {
    aspect-ratio: 30 / 40;
  }

  &[id^="leaves"] {
    aspect-ratio: 29 / 35;
  }
}

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // background: purple;
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
  // margin: calc((var(--space_m-3xl) + var(--space_s-l)) * -1)
  //   calc(var(--space_s) * -1) 0;

  // &__top,
  // &__right {
  //   display: flex;
  // }

  &__top {
    display: grid;
    grid-template-areas: "left-pink-flower filler-flowers right-pink-flower";
    grid-template-columns: 3fr 6fr 3fr;
    // grid-template-rows: auto;

    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    // gap: var(--space_xs);

    // & > canvas {
    //   flex-grow: 0;
    //   flex-shrink: 1;
    // }

    // .leaves-wrapper {
    //   flex-basis: 2%;
    //   position: relative;
    //   canvas[id^="leaves"] {
    //     position: absolute;
    //     left: -100%;
    //     // max-width: var(--space_m-3xl);
    //   }
    // }

    // & > [id^="leaves"] {
    //   margin-left: -2%;
    //   margin-right: -2%;
    // }

    [id^="big_pink_flower"] {
      flex-grow: 1;
      flex-shrink: 0;
    }

    [id^="leaves"] {
      flex-basis: 10%;
      max-width: 10%;
    }

    [id^="yellow_flower"] {
      flex-basis: 10%;
      max-width: 20%;
    }

    #yellow_flower_thin {
      flex-basis: 8%;
      max-width: 8%;
    }

    #yellow_flower_short-wide {
      flex-basis: 15%;
      max-width: 15%;
    }

    [id^="small_pink_flower"] {
      flex-basis: 15%;
      max-width: 15%;
    }

    #big_pink_flower_l {
      // max-width: 24%;
      width: 100%;
      grid-area: left-pink-flower;
    }
    #big_pink_flower_r_wrapper {
      position: relative;
      // max-width: 19%;
      width: 100%;
      aspect-ratio: 85 / 131;
      grid-area: right-pink-flower;
    }
    #big_pink_flower_r {
      width: 100%;
    }
  }

  &__filler {
    grid-area: filler-flowers;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__right {
    position: absolute;
    right: 0;
    width: 85%;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    // overflow: hidden;
    canvas {
      // transform-origin: top left;
      // transform: rotate(90deg) translateY(-100%);

      // width: 100%;

      // @at-root .flowers & {
      //   margin: 0 -2px;
      // }
      // &[id^="yellow_flower_wide"] {
      //   width: 85%;
      //   width: 100%;
      // }
      &[id^="leaves"] {
        width: 65%;
        width: 100%;
      }
    }
  }

  canvas {
    // margin: -1px 0;

    // @media screen and (min-width: 600px) {
    //   &#leaves {
    //     display: block;
    //   }
    // }
  }
}
