@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/ElMessiri.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace Radon';
  src: url('../fonts/MonaspaceRadon.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
