.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.min-tablet {
  display: none;
  @media screen and (min-width: 981px) {
    display: block;
  }
}

.min-desktop {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.flip-horizontal {
  transform: scaleX(-1);
}

.flip-vertical {
  transform: scaleY(-1);
}
