@use "reset.min.css";
@use "fonts";
// @use "helpers";


// #region Fluid Scaling Tokens
@use 'utopia' as utopia;
@use "sass:math";


@function rem($pxval) {
  @if not math.is-unitless($pxval) {
      $pxval: strip-units($pxval);
  }

  $base: 16;
  @if not math.is-unitless($base) {
      $base: strip-units($base);
  }
  @return math.div($pxval, $base) * 1rem;
}

/* @link https://utopia.fyi/type/calculator?c=360,18,1.25,1240,30,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  // generates tokens -2 -> 5
  @include utopia.generateTypeScale((
    "minWidth": 360,
    "maxWidth": 1240,
    "minFontSize": 18,
    "maxFontSize": 30,
    "minTypeScale": 1.25,
    "maxTypeScale": 1.25,
    "positiveSteps": 5,
    "negativeSteps": 2,
    "prefix": "step_",
    "relativeTo": "viewport-width"
  ));

  @include utopia.generateSpaceScale((
    "minWidth": 360,
    "maxWidth": 1240,
    "minSize": 18,
    "maxSize": 30,
    "positiveSteps": (1.5, 2, 3, 4, 6),
    "negativeSteps": (0.75, 0.5, 0.25),
    "customSizes": ("s-l", "m-3xl"),
    "prefix": "space_",
    "relativeTo": "viewport-width",
  ));
}


  /* Step -2: 11.52px → 19.2px */
  /* Step -1: 14.4px → 24px */
  /* Step 0: 18px → 30px */
  /* Step 1: 22.5px → 37.5px */
  /* Step 2: 28.125px → 46.875px */
  /* Step 3: 35.1563px → 58.5938px */
  /* Step 4: 43.9453px → 73.2422px */
  /* Step 5: 54.9316px → 91.5527px */

// #endregion Fluid Scale

// #region Design Tokens

// Colors
$color-pink: #EC1373;
// $color-pink: rgb(255, 88, 158);
// $color-pink: rgb(219, 66, 130);
// $color-orange: orange;
$color-light-orange: #faf0e3;
$color-orange: #EC8C13;
$color-red: #EC2013;
$color-cream: #feffe4;


// Swatches
$color-primary: $color-pink;
$color-secondary: $color-orange;
$color-tertiary: $color-red;

$color-neutral-bg: $color-light-orange;
// $color-neutral-bg: $color-cream;

// font-family: 'El Messiri', Arial, sans-serif;
// font-family: 'Monaspace Radon', Arial, sans-serif;
// font-family: 'Cinzel', Arial, sans-serif;




$font-family-heading: 'test';
$font-family-subheading: 'test';
$font-family-body: 'test';
// #endregion Design Tokens


// Base

html {
  font-size: 16px;
}

body {
  // font-size: var();
  padding: var(--space_m-3xl) var(--space_s) var(--space_l-xl);

  margin-bottom: rem(1200);

  background: $color-primary;
  // font-family: 'El Messiri', Arial, sans-serif;
  // font-family: 'Monaspace Radon', Arial, sans-serif;
  // font-family: 'Cinzel', Arial, sans-serif;
  font-family: $font-family-body;
  font-size: var(--step_0);
  color: $color-tertiary;
  color: rgb(3, 95, 95);
  color: $color-primary;
  background: rgb(3, 95, 95);
  background: $color-neutral-bg;
}

header {
  max-width: 75ch * 1.25;
  margin-inline: auto;
  text-align: center;
}

main {
  max-width: 75ch;
  margin-top: var(--space_m-3xl);
  margin-inline: auto;
}


// #region Typography
// @use "./fonts.scss"

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Georgia';
  // font-family: 'Didot';
  // font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  // font-family: 'Palatino', 'Georgia', sans-serif;
  line-height: 1;
  letter-spacing: .1rem;
}

h1 {
  font-size: var(--step_5);
  // text-shadow: 1px 1px 1px rgb(219, 66, 130);
  font-family: $font-family-heading;
  // font-family: 'Cinzel';
  // font-family: 'El Messiri';
}

h2 {
  font-family: $font-family-subheading;
}

h2 {
  font-size: var(--step_4);
}

// #endregion Typography

// #region Composition
// #endregion Composition

// #region Utility
// #endregion Utility

// #region Block
// #endregion Block

// #region Exception
// #endregion Exception
